# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config

TELEGRAM_TOKEN=5551987:AAG9HpCNQPOk933M-DUzbuOQMs3-U
API_KEY=xz5D3R2oYLwjMMh0CrETzzKRPesLvH6XMgiDczUPpGNgZ8XPB
API_SECRET=YuHqC26SyZxhkz8o1ulRm68S0Jna0y3x0g8KdEC3XT3Bu
NODE_ENV=PRODUCTION123